/* lägg egen css här */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
* Egen kod
*/
header h1{
    font-family: 'Amatic SC', cursive;
    font-weight: 300;
    font-size: 6em;
    text-align: center;  
}
header {
    width: 100%;
    margin-top: 5%; 
    padding-bottom: 2em;
    font-family:  'Amatic SC', cursive;
    background-repeat: no-repeat;
} 
#logo{
    display: block;
    max-height: 16%;
    position: absolute;
    top: 20px;
    left: 44em;
}
nav{
    width: 90%;
    height:8vh;
    overflow: hidden;
    margin: auto;
    margin-bottom: 2vh;
}
nav ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 100%;
}
ul li {
    text-align: center;
    
 } 
 ul li::before {
     content:"";
     height: 2.5em;
     width: 2.5em;
     background-image: url("/Assets/Djupvikbilder/Extra/Icons/steering.jpg");
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    top: .7em;
    left: -1em;
 }
ul li a{
    text-decoration: none;
    text-align: center;
    font-size: 1.5em; 
    color: black;
}
body{
    margin: auto;
    font-family: 'Roboto Mono', monospace;
    width: 90%; 
}
h2{
    font-family: 'Amatic SC', cursive;
    font-size: 4em; 
    text-align: center;  
    margin-bottom:0.5em;
}
h3{
    font-family: 'Amatic SC', cursive;
    font-size: 3em;  
    text-align: center;
    margin-top: 0.5em;
    
}
h4{
    font-size: 2em;  
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    
}
h5{
    font-size: 1em;  
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin-bottom: 0.3em;
}
img{
    max-height: 100%;
    max-width: 100%;
}
#fisherman{
    height:70vh;
    width: 100%;
    
}
#houses{
    height:70vh;
    width: 100%;
    margin-top: 1em;
    margin-bottom:1em;
}
#overview{
    height:70vh;
    width: 100%;
    margin-top: 1em;
    margin-bottom:1em;
}
.imageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .imageContainer div {
    height: 500px;
    overflow: hidden;
    border: 4px solid white;
  }
  
  .gridPagePics {
    display: block;
    max-height: initial;
    max-width: initial;
  }
  .tall {
    width: auto;
    height: 100%;
  }
  
  .wide {
    height: 100%;
    width: auto;
  }
.twoColumnGrid{
    margin-top: 1em;
    margin-bottom: 1em;
    height: 70vh;
    width:90%;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 5px;
}
.twoColumnGrid img{
    margin: auto;
}
.twoColumnGrid p{
    margin-top: 10em;
}
#konradPic{
    width: 20%;
    height: 30%;
    margin-left: 24em;
    margin-top: 1em;
    margin-bottom:0.5em;
}
#nameTag{
    text-align: center;
    margin-top: 1em;
    margin-bottom:1em;
}
#nameTable{
    text-align: center;
   margin-left: 14em;
   margin-top: 2em;
}
#beachPic{
    margin-top: 2em;
    margin-bottom:2em;
    height:70vh;
    width: 100%;
}
#view{
    margin-bottom:2em;
    height:70vh;
    width: 100%;
}
#nameList ul li{
text-align: center;

}
button{
    background-color:#174062;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 3em;
    margin-left: 25em;

}
form fieldset{
    border: solid 3px #474544;
    background-color: aliceblue;
    margin-bottom: 1em;
   
}
input[type=text] {
    width: 70%;
    padding: 10px 4px;
    box-sizing: border-box;
    margin-left: 20em;
    margin-bottom: 1em;
  }
  textarea{
    margin-left: 20em; 
    margin-bottom: 1em;
  }
  #type{
    margin-bottom: 1em;  
  }
  #englishLogo{
   position: absolute;
   width: 40px;
   height: 40px;
    cursor:pointer;
  }
  #engHeader{
    font-family: 'Amatic SC', cursive;
    font-weight: 300;
    font-size: 6em;
    text-align: center;  
  }
  #sun{
    width: 70%;
    margin-left: 8em;
    margin-top: 0.6em; 
  }
  
footer {
    height: 7em;
    background-color:#174062;
    margin-top: 1em;
    margin-bottom:4em;
    text-align: center;

}
footer p{
    text-align: center;
    color: white;
}
footer img{
    width: 30px;
    height: 30px;
    margin-top:1em;
    margin-bottom: 0.5em;
    text-align: center;
}
#fbLogo{
    height: 65px;
    width: 65px;
    margin-left:23em;
}
#instaLogo{
    height: 65px;
    width: 65px;
}
#twitterLogo{
    height: 65px;
    width: 65px;
}
#protocolTable{
    text-align: center;
    margin-left: 15em;
    margin-top: 2em;
}
